<main>
  <%= notice %>
  <div id="new-post">
    <h1>New Post</h1>
  

    <%= form_with model: post, url: user_posts_path, method: :post, local: true do |f| %>
      <div class="input">
        <%= f.label :title, "Caption/Title"%>
        <%= f.text_field :title %>
      </div>

      <div class="input">
        <%= f.label :text %>
        <%= f.text_field :text, id: "text-input"%>
      </div>
      <%= f.submit "Create"%>
    <% end %>
  </div>
</main>