<main>
  <section class="post">
    <div>
      <h1>Post: <%= @post.title %> <span>by <%=@user.name%></span></h1>
      <p><%= @post.text %></p>
    </div>
    <span>Comments: <%= @post.comments_counter %></span>
    <span>Likes: <%= @post.likes_counter %></span>
    <%= render "likes/like" %>
  </section>

  <section class="comment-section">
    <h2>Comments</h2>
    <ul>
      <% @post.comments.each do |comment| %>
        <li class="comment">
          <span><%= comment.author.name%>: <%= comment.text %></span>
          <% if can? :destroy, comment %>
              <%= form_with model: comment, url: user_post_comment_path(@user.id, @post.id, comment.id), method: :delete do |form| %>
                <%= form.submit "Delete", class: "see" %>
              <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="add-comment">
      <h2>Add new comment</h2>
      <%= render "comments/comment" %>
    </div>
    
  </section>
</main>
