<main>
  <section class="post">
    <div>
      <h1>Post: <%= @post.title %> <span>by <%=@user.name%></span></h1>
      <span>Comments: <%= @post.comments_counter %></span>
      <span>Likes: <%= @post.likes_counter %></span>
    </div>
    <p><%= @post.text %></p>
  </section>

  <section class="comment-section">
    <h2>Comments</h2>
    <ul>
      <% @post.comments.each do |comment| %>
        <li class="comment">
          <span><%= comment.author_id%>: <%= comment.text %></span>
        </li>
      <% end %>
    </ul>
  </section>
</main>
